[submodule "src/audio/lib/CosyVoice"]
	path = src/audio/lib/CosyVoice
	url = git@github.com:FunAudioLLM/CosyVoice.git
[submodule "src/audio/lib/Make-An-Audio"]
	path = src/audio/lib/Make-An-Audio
	url = git@github.com:Text-to-Audio/Make-An-Audio.git
